  /*
    Accordion Menu
  */

  .accordionMenu {
    height: 500px;
    width: 70%;
    margin: 0 auto 0 auto;
  }

  i {
    position: absolute;
    transform: translate( 0.231em, 0em);
    margin-top: .5em;
    right: 0;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-weight: 80000;
    transition: 0.4s;
  }

  .accordion .button {
    font-weight: 600;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: d
  }

  /*
    Order Form
  */


  /*
  Random Pictures Section
  */

  .randomPics {
    margin: 0 auto 0 auto;
    text-align: center;
  }

  .randomPics-picsection {
    display: inline;
    text-align: center;
  }

  .randomPics-picsection img{
    width: 30%;
    height: auto;
    display: inline-block;
  }

  /*
  Social Media
  */

  .socialLinks {
    color: #b2bec3;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 130px;
  }

  .socialLinkks-Links {
    padding: 20px;
  }

  i {
    font-size: 4em;
    padding: .2em;
  }